backend:
  image: jwilder/nginx-proxy 
  volumes:
   - /var/run/docker.sock:/tmp/docker.sock:ro

web:
  build: .
  ports:
   - "5000:5000"
  volumes:
   - .:/code
  links:
   - redis
  environment:
   - PORT_REDIS=6379
   - HOST_REDIS=redis
   - VIRTUAL_HOST=teste.docker
redis:
  image: redis
  volumes:
   - dados_${ENV_APP}:/data
  labels:
   - 'app.environment=${ENV_APP}'
